/* tags */

html {
    font-family: Helvetica, Arial, sans-serif;
}

form {
    border: blue solid
}

h1 {
    font-size: 20px;
    color: blue;
}

div a {
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
}

div p a {
    display: inline;
}

div label input {
    display: block;
    width: 90%;
}

div label {
    text-align: left;
}

p a {
    text-transform: uppercase;
    font-size: 12px;
}

button {
    width: 90%;
    background-color: blue;
    color: white;
    text-transform: uppercase;
    padding: 0.25rem;
    margin-top: 1rem;
    border: solid blue;
    border-radius: 0.25rem;
}

/* classes */

.container {
    margin: auto 40%;
    text-align: center;
}

.container label {
    display: block;
    margin: 0.25rem;
    margin-left: 0.75rem;
}