/* tags */

td, th {
    border-width: 0.05rem;
    border-style: solid;
}

table {
    border-collapse: collapse;
}

/* classes */

.complex {
    border-collapse: unset;
    border-style: solid;
    border-color: blue;
}

.complex td, .complex th {
    border-color: blue;
}

/* another way to apply
style to row or other elements
without changing the HTML
.complex tbody tr:nth-child(2) {
    font-weight: bold;
}
*/

.complex tbody tr:nth-child(4) td:nth-child(3) {
    color: red;
}

.complex td:hover {
    font-size: 1.1rem;
    background-color: yellow;
}

.seminar {
    text-align: center;
    border: thick double black;
}

.seminar tbody tr:first-child td:nth-child(2), .seminar tbody tr:nth-child(3) td:nth-child(2), .seminar tbody tr:nth-child(3) td:nth-child(3), .seminar tbody tr:nth-child(4) td:first-child, .seminar tbody tr:last-child td:nth-child(2) {
    background-color: navajowhite
}

.seminar tbody tr:first-child td:nth-child(3), .seminar tbody tr:nth-child(5) td:nth-child(2) {
    background-color: lightskyblue
}

.seminar tbody tr:nth-child(4) td:nth-child(2), .seminar tbody tr:nth-child(5) td:first-child, .seminar tbody tr:last-child td:nth-child(3) {
    background-color: lightgreen
}